/* ----- Global Styles ----- */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #EFECE3;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #8FABD4;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    background: url(SkyBlue.jpg) center/cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: 4A70A9;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.price {
    color: #4A70A9;
    font-weight: bold;
    font-size: 1.2rem;
}

button {
    background-color: #4A70A9;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #4A70A9;
}
